* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-container,
.register-container {
  display: flex;
  height: 80rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 1px 0 2px #000;
}

.login-left-panel,
.register-right-panel {
  width: 67rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 12rem;
}

.register-right-panel {
  padding-top: 3rem;
}

.login-left-panel-header,
.register-right-panel-header {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 0 0;
}

.login-left-panel-header .login-title,
.register-right-panel-header .register-title {
  color: #38ac8f;
  font-size: 5rem;
  font-weight: bold;
}

.login-left-panel-body,
.register-right-panel-body {
  display: flex;
  flex-direction: column;
}

.login-right-panel,
.register-left-panel {
  width: 52rem;
  background-image: url("../figmaa/loginBackground.jpg");
  padding: 29rem 6.5rem 23rem 6.5rem;
  color: #fff;
  text-align: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.login-right-panel span,
.register-left-panel span {
  font-size: 5.5rem;
  font-weight: bolder;
  margin-bottom: 7rem;
}

.login-right-panel p,
.register-left-panel p {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 6rem;
}

.login-solution,
.register-solution {
  color: "#9F9595";
  margin: 1.2rem 0 3rem 0;
  text-align: center;
}
//////////////////////Profile Page///////////////////////////////

.profile-infomation-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
}
.redirect-title-container{
  position:absolute;
  z-index: 1;
  top: -10rem;
  left: 0rem;
}
.profile-page-header h1 {
  text-transform: uppercase;
  padding: 2rem 0 1.5rem 0;
}

.profile-page-header h3 {
  padding-bottom: 3rem;
}

.user-nav {
  width: 39rem;
  height: 70rem;
  background-color: #eee;
}

.user-avt-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.user-avt {
  width: 9.5rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 3.75rem 0 1rem 0;
  box-shadow: 1px 1px 2px #6c6c6c;
}

.user-name {
  font-size: 2rem;
}

.logout-button {
  width: 20rem !important;
  height: 3.1rem !important;
  color: #fff !important;
  background-color: #fcaf17 !important;
  font-size: 1.3rem !important;
  margin: 1.5rem 0 5rem 0 !important;
  border-radius: 2rem !important;
  flex-shrink: 0 !important;
  padding: 0 !important;
}

.nav-toggle-content {
  width: 100%;
  display: flex;
  padding: 0.5rem 0 0.5rem 2rem;
  align-items: center;
  justify-content: start;
}
.toggle-button-text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: none !important;
}

.nav-toggle-content p {
  margin: 0 0 0 2rem;
}
.toggle-link-nav{
  display: flex;
  width: 100% !important;
  height: 100%;
}
.selected-button {
  background-color: #c0ded7;
  color: white;
}
.user-desc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a1a1a1;
  padding: 1rem 3.2rem;
}

.edit-infomation-button {
  background-color: #38ac8f;
  border-radius: 1rem !important;
  text-transform: none !important;
}

.user-desc-text {
  color: #38ac8f;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.edit-infomation-button:hover {
  background-color: #53cfb0;
}
.user-desc-container {
  width: 74.7rem;
  height: 70rem;
  margin-left: 1.25rem;
  background-color: #eee;
}
.user-desc-body {
  display: flex;
  text-align: start;
  padding: 3.2rem;
}
.address-item {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.user-title {
  display: flex;
  flex-direction: column;
}
.user-title .user-title-item {
  padding: 1.5rem 0;
  color: #747474;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user-desc-value {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}
.user-desc-value .user-desc-value-item {
  padding: 1.5rem 0;
  color: #000;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.address-operation {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: end !important;
  margin-left: 5rem;
}
.address-operation .edit-address-button {
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-size: 0.8rem !important;
  border-radius: 0.5rem ;
  color: #000;
  background-color: #fff !important;
}
.address-operation .delete-address-button {
  width: 2rem !important;
  height: 2.5rem !important;
  font-size: 0.9rem !important;
  border-radius: 0.5rem;
  background-color: #E74040E5 !important;
}
.operation-stack{
  display: flex !important;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: space-between;
  text-align: center;
  align-items: start;
  padding: 4rem 0;
}