* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

//                                               LOGIN - FORGOT PASSWORD - REGISTER
.login-container,
.forgot-password-container,
.register-container {
  display: flex;
  height: 80rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-shadow: 1px 0 2px #000;
}

.forgot-password-container {
  width: 80rem;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  box-shadow: 1px 0 2px #000;
}

.login-left-panel,
.forgot-password-panel,
.register-right-panel {
  width: 67rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 12rem;
}

.register-right-panel {
  padding-top: 3rem;
}

.login-left-panel-header,
.forgot-password-panel-header,
.register-right-panel-header {
  display: flex;
  flex-direction: column;
  margin: 8rem 0 0 0;
}

.login-left-panel-header .login-title,
.forgot-password-panel-header .forgot-password-title,
.register-right-panel-header .register-title {
  color: #38ac8f;
  font-size: 5rem;
  font-weight: bold;
}

.login-left-panel-body,
.forgot-password-panel-body,
.register-right-panel-body {
  display: flex;
  flex-direction: column;
}

.login-right-panel,
.register-left-panel {
  width: 52rem;
  background-image: url("../figmaa/loginBackground.jpg");
  padding: 29rem 6.5rem 23rem 6.5rem;
  color: #fff;
  text-align: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.login-right-panel span,
.register-left-panel span {
  font-size: 5.5rem;
  font-weight: bolder;
  margin-bottom: 7rem;
}

.login-right-panel p,
.register-left-panel p {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 6rem;
}

.login-solution,
.forgot-password-solution,
.register-solution {
  color: "#9F9595";
  margin: 1.2rem 0 3rem 0;
  text-align: center;
}

//                                               HOME PRODUCT
//                                               New Product
.home-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 3rem;
  padding: 3rem 0;
}

.home-product__items {
  width: 25rem;
  height: 45rem;
  background-color: #ffffff;
  padding: 0;
  border: 0.05rem solid #000000;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 #333333;
}

.home-product__img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.home-special-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2rem 3rem;
  place-items: center;
  overflow-x: hidden;
  grid-template-areas:
    "h1 h2"
    "h1 h3";
}

.home-special-product-item {
  grid-gap: 3rem 2rem;
  height: 100%;
  width: 100%;
}
.home-special-product-item:first-child img {
  width: 50.925rem;
  height: 84.8rem;
}

.home-special-product-item:nth-child(2) img {
  width: 65.881rem;
  height: 45.2rem;
}

.home-special-product-item:last-child img {
  width: 65.881rem;
  height: 34.4rem;
}

.home-special-product-item:first-child {
  grid-area: h1;
}

.home-special-product-item:nth-child(2) {
  grid-area: h2;
}

.home-special-product-item:last-child {
  grid-area: h3;
}
